.header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 15px;
    align-items: center;
    padding: 10px 0;
  }

  .right {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  .search-box{
    height: 44px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #E2E2E2;
    border-radius: 5px;
  }

  .search-box .button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background: #F3F4F6;
    padding: 10px, 15px, 10px, 15px;
    height: 44px;
    width: 54px;
  }

  h2{
    font-size: 24px;
    font-weight: 600;
    color: #000;
  }